*{
  color: white;
}
.cuadro{
  width:50%;
  height:40%;
  border-radius: 8px;
  padding:2%;
  margin-top: 55px;
  margin-bottom: 15px;
  margin-left: 55px;
  position: relative;
  background:rgb(227, 74, 120);
}

.boton{
  color: rgb(227, 74, 120);
  background-color: white;
  border-radius: 50px;
  border: none;
  padding: 15px;
  margin-bottom: 12px;
  margin-top: 12px;
  justify-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
pre{
  justify-content: center;
  font-size: large;
}