*{
    color: white;
}
.cuadro{
  width:90%;
  height:90%;
  border-radius: 8px;
  padding:2%;
  margin-top: 80px;
  margin-bottom: 15px;
  background:rgb(227, 74, 120);
}
.boton{
    color: rgb(227, 74, 120);
    background-color: white;
    border-radius: 50px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.espacio{
    padding-top: 20px;
}
#contrasenha:hover{
    color: red;
} /* Es solo ejemplo por ahora; quiero que salga una ventanita que explique las condiciones para crear la contraseña */
#subrayado{
    text-decoration: underline;
}
p{
    color: black;
    text-align: center;
    margin-top: 8px;
}
a{
    color: rgb(227, 74, 120);
}
