.Rosa{
    font-family: Helvetica;
    color: #F72E6C;
    position: absolute;
    width: 464px;
    height: 94px;
    left: 497px;
    top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    
    }
    
    
    .Peinado{
        position: absolute;
    width: 516px;
    height: 462px;
    left: 186px;
    top: 215px;
    }
    
    .container1{
        position: absolute;
    width: 582px;
    height: 330px;
    left: 720px;
    top: 224px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    
    color: #000000;
    
    
    }
    .container2{
        position: absolute;
    width: 536px;
    height: 286px;
    left: 199px;
    top: 718px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    
    color: #000000;
    }
    
    .familia{
        position: absolute;
    width: 516px;
    height: 462px;
    left: 774px;
    top: 700px; 
    }
    
    .Palo{
        font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    
    color: #AF2A45;
    }
    .container3{
        position: absolute;
    width: 630px;
    height: 376px;
    left: 692px;
    top: 1176px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    
    color: #000000;
    }
    
    .fiesta{
        position: absolute;
    width: 516px;
    height: 462px;
    left: 142px;
    top: 1110px;
    }
    
    .Obscuro{
        font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    
    color: rgba(244, 63, 119, 0.76);
    }
    
    .container4{
        position: absolute;
    width: 626px;
    height: 366px;
    left: 120px;
    top: 1738px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    
    color: #000000;
    
    }
    
    .clinica{
        position: absolute;
    width: 516px;
    height: 462px;
    left: 822.55px;
    top: 1770.54px;
    }
    
    .galeria{
        position: absolute;
    width: 1440px;
    height: 488px;
    left: 0px;
    top: 2275px;
    
    background: #AF2A45;
    }
    
    
    .blanco{
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    
    color: #FFFFFF;
    }
    
    
    .clientes{
        position: absolute;
    width: 1440px;
    height: 488px;
    left: 0px;
    top: 2826px;
    
    background: rgba(244, 63, 119, 0.76);
    }