@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lato&family=Roboto+Mono:ital,wght@1,200&family=Shalimar&family=Source+Sans+Pro:wght@200&display=swap');

:root {
    --pinkLight:#FFD8F3;
    --pinkLight2:#faf6f9;
    --pinkLight3:#fbebd7;
    --pink1: #AF2A45;
    --pink2: #F292A4;
    --colorgradiente1: #F54EA2;
    --colorgradiente2: #FF7676;
    --gradiente1: linear-gradient(var(--pink2),var(--colorgradiente1),var(--colorgradiente2));
    --colorGradiente3:#f38650;
    --colorGradiente4:#e05ba2;
    --colorGradiente5:#CD4BC9;
    --gradiente2:linear-gradient(var(--colorGradiente3),var(--colorGradiente2),var(--colorGradiente3));
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #F195B2;
    --secondary: #62C3E7;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #FFFFFF;
    --dark: #333333;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-popins: "Poppins";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  *{
    font-family: var(--font-family-popins);
    
}

body{
  /*background: var(--gradiente1); */
 }
.form-control{
  background-color: var(--pinkLight);
  opacity:0.65;
  
}

.section-title{
  color: var(--pink1);
  font-size:84px;
  font-weight: 600;
}
.section-title2{
  color: var(--light);
  font-size:84px;
  font-weight: 600;
}
.contenedor-grande{
    font-family: var(--font-family-popins);
    /*background-color: var(--light);*/
    
}

.contacto-formulario{
    background-color: var(--pink2);
    background: var(--gradiente1);
}

  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }
  
  .btn:hover {
    color: #555555;
    text-decoration: none;
  }

  .btn-primary {
    color: var(--gray-dark);
    font-weight: 1000;
    font-size:40px;
    border-radius: 40px;
    background-color: var(--light);
    border-color: #F195B2;
    
  }
  
  .btn-primary:hover {
    color: var(--pinkLight2);
    background-color: #ed7399;
    border-color: #eb6891;
  }

  .btn-primary:focus, .btn-primary.focus {
    color: #ed7399;
    background-color: #ed7399;
    border-color: #eb6891;
    box-shadow: 0 0 0 0.2rem rgba(210, 132, 157, 0.5);
  }
  .btn-block {
  
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .btn-block + .btn-block {
    margin-top: 0.5rem;
  }
  .btn-link {
    font-weight: 400;
    color: #F195B2;
    text-decoration: none;
  }
